.titleContainer {
    color: white;
    font-size: 25px;
    margin-bottom: -20px;

    h5 {
        width: max-content;
        font-weight: normal;
        cursor: pointer;
    }
}

@media (max-width : 750px) {
    .titleContainer {
        margin-bottom: 30px;
        margin-top: 35px;
        margin-left: -20px;
    }
}