body {
    background-color: black;
  }
  
  .backImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  
  .banner {
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 50px;
    margin-left: 25px;

    .origNetflix {
        width: 400px;
        font-size: 25px;
        margin-bottom: 5px;
      }
      
      .serieName {
        font-size: 80px;
        line-height: 0.75;
        margin-top: 0;
        margin-bottom: 25px;
        text-transform: uppercase;
      }
      
      h6 {
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 0;
      }
      
      .dataSerieMob {
        display: none;
      }
      
      .buttonContainer {
        display: flex;
      }

      .descriptionSerie {
        width: 400px;
      }
      
      .viewSeason {
        cursor: pointer;
      }
  }
   
  .carouselesContainer {
      display: flex;
      flex-direction: column;
      width: 1580px;
      overflow: hidden;
      
      .serieContainer {
        width: 1520px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 20px;
      }
  }

  @media (max-width: 750px) {


    .backImg {
      top: 65px;
      width: 500px;
      left: 250px;      
    }
  
    .banner {
      width: 730px;
      height: 200px;
      margin-top: 120px;

      .origNetflix {
        display: none;
      }
    
      .serieName {
        text-transform: none;
        font-weight: normal;
        font-size: 35px;
        margin-bottom: 0;
      }
    
      .dataSerieMob {
        display: block;
        margin-top: 0;
        margin-bottom: 20px;
      }
    
      .dataSpan {
        margin-right: 15px;
        font-size: 20px;
        color: rgb(167, 164, 164);
      }
    
      .viewSeason {
        display: none;
      }
    
      .descriptionSerie {
        display: none;
      }
    }
  
    .carouselesContainer {
            width: 755px;
            height: max-content;
            overflow: hidden;
            background-color: rgb(24, 24, 24);
            margin-top: 20px;


        .serieContainer {
            width: 745px;
            height: max-content;
            overflow: hidden;
            margin-top: 20px;
            margin-left: -20px;
          }
    }
  }