.categorieContainer {
    display: flex;
    align-items: center;
    color: white;
    margin: 50px 0px 0px 30px;
    
    span {
        color: rgb(160, 158, 158);
        margin-right: 10px;
    }
}

.carouseles {
    width: 1550px;
    height: max-content;
    display: flex;
    flex-direction: column;

    .carouselContainer {
        height: 250px;
        padding-left: 30px;
    }
}


@media (max-width: 750px) {

    .categorieContainer {
        width: 700px;
        margin-top: 90px;
        margin-left: 0;
        padding: 25px;
        background-color: rgb(24, 24, 24);
    }

    .carouseles {
        width: 750px;
        background-color: rgb(24, 24, 24); 
        overflow: hidden;

        .carouselContainer {
            width: 740px;
            height: 300px;
            margin-left: -25px;
        }
    }

}